@media (max-width: 1034px) {

    /*__________________BuscarPerfil/Main_________________*/
    .buscarPerfil {
        max-width: 88vw;
        padding: 20px;
    }

    form input {
        width: 75%;
    }

    #historico {
        display: none;
    }

    main {
        gap: 15px;
        flex-direction: column;
    }

    #Section_Left {
        display: flex;
    }
}

@media (max-width: 570PX) {
    .perfil {
        flex-wrap: wrap;
    }

    #img_Perfil {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 460px) {

    /*__________________HEADER__________________*/
    header {
        gap: 20px;
    }

    header a {
        width: 40px;
    }

    header .left {
        gap: 10px;
        font-size: 8px;
    }


    header .right {
        gap: 10px;
        font-size: 11px;
    }

    /*__________________BuscarPerfil/Main_________________*/
    form input {
        width: 55%;
    }

    .dica {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .buscarPerfil {
        max-width: 78vw;
        padding: 20px;
    }
}