@media (max-width: 1034px) {

    /*__________________BuscarPerfil/Main_________________*/
    .buscarPerfil {
        max-width: 84vw;
        padding: 20px;
    }

    form input {
        width: 75%;
    }

    #historico {
        display: none;
    }

    main {
        gap: 15px;
        flex-direction: column;
    }

    #Section_Left {
        display: flex;
    }


    /*__________________boxes Com Dados_________________*/

    .boxesInformation {
        justify-content: center;
    }

    .box1 .information .information_text {
        margin-top: 0px;
    }

    .box2 {
        gap: 0px;
    }

}

@media (max-width: 640PX) {
    .name_Repos_Container a {
        font-size: 14px;
    }

    .repos_Information {
        margin: 0px 15px;
    }

    .linguagem {
        font-size: 12px;
    }
}

@media (max-width: 570PX) {
    .perfil {
        flex-wrap: wrap;
    }

    #img_Perfil {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    /*__________________boxes Com Dados_________________*/

    .pc {
        display: none;
    }

    .mobileICon {
        display: block;
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 80px;
        padding: 10px 13px;
    }

    .boxesInformation {
        justify-content: center;
    }

    .icon_Boxs {
        margin-bottom: 10px;
    }

    .box1 .information .information_text {
        margin-top: 0px;
    }

    .box2 {
        gap: 0px;
    }

}

@media (max-width: 460px) {

    /*__________________HEADER__________________*/
    header {
        gap: 20px;
    }

    header a {
        width: 40px;
    }

    header .left {
        gap: 10px;
        font-size: 8px;
    }


    header .right {
        gap: 10px;
        font-size: 11px;
    }

    /*__________________BuscarPerfil/Main_________________*/
    form input {
        width: 55%;
    }

    .dica {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .buscarPerfil {
        max-width: 78vw;
        padding: 20px;
    }

    /*__________________boxes Com Dados_________________*/


    .boxesInformation {
        gap: 10px;
    }

    .mobileICon {
        display: block;
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 50px;
        padding: 10px 10px;
    }

    .boxesInformation {
        justify-content: center;
    }

    .icon_Boxs {
        margin-bottom: 9px;
    }

    .box2 .information .information_text {
        width: 20px;
    }

    .box2 {
        gap: 0px;
    }

    .information_text {
        font-size: 9px;
        margin: 0px;
        color: #8d8d8d;
    }

    .icon_Boxs {
        height: 16px;
    }
}


@media (max-width: 380PX) {
    #repos_Principais{
        margin-left: -10px;
        width: 80vw;
    }

    .perfil{
        margin-left: -10px;
        width: 80vw;
    }

    .boxesInformation{
        margin-left: -20px;
    }

    .repos {
        display: block;
    }

    .information_stars {
        margin: 0px -15px;
    }
    .icon_Star{
        top: 2px;
    }

    .linguagem {
        font-size: 14px;
    }

}